<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.UserMapper">

    <resultMap type="model.User" id="userMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
    </resultMap>
    <!-- 主键不用插入 -->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into `user`(name,age)
        values (#{name},#{age});
    </insert>

    <update id="updateUser" parameterType="model.User">
        UPDATE `user`
        <set>
            <if test="name != null">
               name = #{name},
            </if>
            <if test="age != null">
                name = #{age},
            </if>
        </set>
        WHERE id = #{id};
    </update>

    <select id="getUserById" resultMap="userMap">
        SELECT * from user where id = #{id};
    </select>
</mapper>